[submodule "mosquitto"]
	path = mosquitto
	url = https://github.com/eclipse/mosquitto.git
[submodule "sqlite_orm"]
	path = sqlite_orm
	url = https://github.com/fnc12/sqlite_orm.git
[submodule "tagblib"]
    path = taglib
    url = https://github.com/taglib/taglib.git