
.icon-cancel-circled2:before { content: '\e800'; } /* '' */
.icon-home-1:before { content: '\e801'; } /* '' */
.icon-back:before { content: '\e802'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-lightbulb:before { content: '\f0eb'; } /* '' */
.icon-desktop:before { content: '\f108'; } /* '' */
.icon-thermometer-3:before { content: '\f2c8'; } /* '' */